@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fira+Code:wght@300..700&family=Knewave&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fira+Code:wght@300..700&family=Knewave&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --standard-padding-desktop:20px;
    --standard-padding-tablet:15px;
    --standard-padding-mobile:15px;
    --standard-font-size-mobile:16px;
    --standard-font-size-tablet:16px;
    --standard-font-size-desktop:20px;
    --strandard-heading-font-size-mobile:40px;
    --standard-heading-font-size-tablet:50px;
    --standard-font:"Cormorant Garamond", serif;
    --secondary-font: 'Montserrat', sans-serif;
    --standard-font-weight: 300;
    --section-2-background-color: #A79A90;
}


body{
    background-color: rgb(0, 0, 0);
    font-family: var(--standard-font);
    font-weight: var(--standard-font-weight);
}

/*--------------------------------------------------------------------*/
/*SECTION 1*/
/*--------------------------------------------------------------------*/

.s1{
    display: flex;
    flex-direction: column;
    gap:30px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.s1-i1{
    width: 60%;
    padding: --standard-padding-mobile;
   
    object-position: center;
    object-fit: cover;
    max-width: 300px;
    
    align-self: center;
}


.s1-h1{
    justify-self: center;
    align-self: center;
    font-size: var(--strandard-heading-font-size-mobile);
    text-align: center;
    font-weight: 400;
}

.s1-text{
    padding-left: var(--standard-padding-mobile);
    font-family: var(--secondary-font);
    font-size: var(--standard-font-size-mobile);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

.s1-i2{
    object-fit: cover; /* Dopasowanie bez rozciągania */
    object-position: 90% center; /* Obcina prawą stronę */
    margin-top: 40px;
    width: 70%;
    max-width: 300px;
    padding: --standard-padding-mobile;
    height: 200px;object-position: center;
    align-self: flex-end;
}

.s1-i3{
    width: 100%;
    margin-top: 70px;
    aspect-ratio: 2.1/1;
    object-fit: cover;
    object-position: 90% center;

    margin-bottom: 30px;
}

@media (min-width: 768px) /*and (max-width: 1440px)*/{
    .s1{
        display: grid;
        grid-template-columns: 1fr min-content 1fr;
        grid-template-rows: 400px auto auto;

    }
    
    .s1-h1{
        grid-column: 2/3;
        grid-row: 2;
        font-size: var(--standard-heading-font-size-tablet);
    }
    .s1-i1{
        grid-column: 1/3;
        object-fit: cover;
        height: 100%;
        object-fit:cover;
        align-self: flex-start;
        justify-self: flex-end;
        margin-right: 20%;
        

    }
    .s1-i2{
        grid-column: 3;
        grid-row: 1;
        object-fit:cover;
        margin: 0;
        height: auto;
        width: 50%;
        min-width: 350px;
        align-self: center;
        justify-self: center;
    }
 
    .s1-i3{
        grid-column: 1/3;
        grid-row: 3;
        margin-top: 0;
        margin-bottom: 0;
        width: 80%;
        height: 90%;
        object-fit: cover;
        object-position: 40% 70%;
        justify-self: center;
        align-self: start;
    }
    .s1-text{
        flex-direction: row;
        width: 100%;
        grid-row:3;
        padding: 0;
        gap:20px;
    }
    .s1-text-p2{
        width: clamp(200px, 50%, 400px);
    }
}


/*--------------------------------------------------------------------*/
/*SECTION 2*/
/*--------------------------------------------------------------------*/

.s2{
    background-color: var(--section-2-background-color); 
    padding: var(--standard-padding-mobile);
    padding-top:20px;
    padding-bottom: 60px;

}

.s2-h1{
    color:black;
    font-family: var(--standard-font);
    font-size: var(--strandard-heading-font-size-mobile);
    font-weight: 400;
    text-align: center;
}
.s2-products{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.p-c1{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.p-i1{
    width: 90%;
}
.arrow{
    transform: scale(1.5);
    cursor: pointer;
}


.Product{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.p-text{
    width: 70%;
    font-size: var(--standard-font-size-mobile);
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.p-text h2{
    font-weight: 500;
    font-size: calc(var(--standard-font-size-mobile) + 4px);
}
.p-text p{
    font-family: var(--secondary-font);
    font-size: 16px;
}

@media (min-width: 768px) {
    .s2-products{

        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        gap:5%;

    }
    .Product{
        width: clamp(300px, 30%, 400px);
        align-items: flex-start;
    }
    .p-c1{
        align-items: flex-start;
        justify-content: flex-start;
    }
    .s2-h1{
        text-align: start;
        padding-left: 15px;                                                                                                                                                                                           ;
    }
    .arrow{
        display: none;
    }
    .p-text{
        width: auto;
    }
    .Product{
        margin-left:15px;
    }
    .p-i1{
        width: 100%;
    }
    
}